{% extends 'PergaProductBundle::layout.html.twig' %}
{% block title %}Частная пасека. Адрес и телефоны.{% endblock %}
{% block meta %}
    {{ parent() }}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
{% endblock meta %}
{% block slider %}
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->

    <div class="carousel-inner">
        {% block banners  %}
         {#todo refactorin this code#}
            {% for i in 1..6 %}
                <div class="{% if i == 1 %}active{% endif %} item">
                           <img src="{{  asset('bundles/pergaproduct/images/contact/banners/'~i~'.jpg') }}" alt="" />
{#                    <div class="carousel-caption">
                        <p>Рекламный текс №1.</p>
                    </div>#}
                </div>
            {% endfor %}

        {% endblock banners  %}
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
{% endblock slider %}

{% block main %}
    {% block welcome %}{% endblock welcome %}
    <div class="container-fluid">
        <div class="row-fluid about">
            <div class="span12">
                <h3>О компании</h3>
                <p>
                    <img title ="Пчеловод за работой. Получение маточного молочка." alt= "о пасеке" src="{{ asset('bundles/pergaproduct/images/contact/author/bee-keeper.jpg') }}" class="img-float">
                    Я Орешков Сергей Васильевич - уже больше 25 лет занимаюсь пчеловодсвом. Моя основная пасека находится в
                    д. Новоспаск Сморгонского района, Гродненской  области в одном из наиболее экологически чистых
                    мест Республики Беларусь. Кроме этого есть несколько качующих пасек. Место положение которых меняется.
                    Часто это опушка леса или поле гречихи. Такая практика позволяет мне собирать чудесный, душистый мёд.
                </p>
                <p>
                    Конец мая начало июня — время начала цветения следующих медоносов: рапса,
                    одуванчика, крушины, малины, белого клевера, что составляет 60%-70% товарного медосбора.
                </p>

                <p>
                    Качество красной нитью проходит через всю мою деятельность.
                    Отбор мёда производится только тогда, когда соты почти целиком заполнены и запечатаны крышечками —
                    это гарантия того, что мёд зрелый. Качество моего мёда подтверждено экспертизой ветеринарной  лаборатории района.
                </p>
            </div>
        </div>
        <div class="row-fluid contact__table">
            <div class="span12">
                <h4>Контакты для связи: </h4>
                <table class="table table-striped ">
                    <tbody>
                        <tr>
                            <td class="span1"><strong>Email:</strong></td>
                            <td>serge.oreshkov@gmail.com</td>
                        </tr>
                        <tr>
                            <td><strong>Телефон:</strong></td>
                            <td>
                                <address class = "address">
                                    <strong><abbr title="Контактный телефон">Velcom: </abbr></strong>+375-29-309-59-86<br>
                                    <strong><abbr title="Контактный телефон">МТС: </abbr></strong>+375-29-880-37-78<br>
                                    <strong><abbr title="Контактный телефон">Дом: </abbr></strong>8-015-92-93-147<br>
                                </address>
                            </td>
                        </tr>
                        <tr>
                            <td class="span1"><strong>Адрес</strong></td>
                            <td>Гродненская область, Сморгонский район, д.Новоспаск д.18</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div  id="map_canvas" style="height:550px"></div>
            </div>
        </div>
    </div>
{% endblock main %}
{% block javascripts %}
    {{ parent() }}
    <!-- Maps -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAcPNiFNCL66V6s_sDZkACj2MEFmZ4rxMY&sensor=false"></script>
    <script type="text/javascript" src="{{ asset('bundles/pergaproduct/js/google_maps.js') }}"></script>
{% endblock javascripts %}
