<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Пчелопакеты. Продукты пчеловодства с частной пасеки{% endblock %}</title>
    {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <meta name='yandex-verification' content='44d6b73886cac8b2' />
        <meta name="google-site-verification" content="ERFZCYAAD2HbbUW8is6imJuZIKInJMG58sZTB72HC9o" />
        <meta name="keywords" content="{% block metaKeywords %}пчелопакеты, купить пчелопакеты, отводки, пчелопакеты 2013, продать пчелопакеты, продажа пчёл, продажа пчел, купить пчел, пчелопакеты Беларусь, пчелосемьи, матки, мёд, перга, воск, прополис, продажа, купить,  Perga.by {% endblock metaKeywords %}" />
        <meta name="description" content="{% block metaDescription %} Продажа пчелопакетов в мае 2014 года. Мёд, перга, воск и другие продукты пчеловодства с экологически чистой пасеки. Натуральный, качественный продукт. Бесплатная доставка по Минску{% endblock metaDescription %}"/>
        <meta name="author" content="{% block metaAuthor %}Орешков Сергей Васильевич{% endblock metaAuthor %}"/>
    {% endblock meta %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/pergaproduct/css/style.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/pergaproduct/css/bootstrap/bootstrap.css') }}" type="text/css" media="all" />
        <!--[if IE 6]><link rel="stylesheet" href="{{ asset('bundles/pergaproduct/css/ie6.css') }}" type="text/css" media="all" /><![endif]-->
        <link rel="shortcut icon" href="{{ asset('bundles/pergaproduct/images/favicon.png') }}" />
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="shell">
        <div class="border">
            <div id="header">
                {% block header %}

                {% endblock header %}
            </div>
            <div id="navigation">
                {% block navigation %}

                {% endblock navigation %}
            </div>
            <div id="myCarousel" class="carousel slide">
                {% block slider %}

                {% endblock slider %}
            </div>
            <div id="main">
                {% block main %}

                {% endblock main %}
            </div>
            <div class="shadow-l"></div>
            <div class="shadow-r"></div>
            <div class="shadow-b"></div>
        </div>

        <div id="footer">
            {% block footer %}

            {% endblock footer %}
        </div>
    </div>
{% endblock body %}
    {% block javascripts %}
        {% javascripts
            '@PergaProductBundle/Resources/public/js/jquery-1.10.2.js'
            '@PergaProductBundle/Resources/public/js/yandex_metrika.js'
            '@PergaProductBundle/Resources/public/js/bootstrap.js' filter='?yui_js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock javascripts %}
    <noscript>
        <div><img src="//mc.yandex.ru/watch/22654747" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
</body>
</html>