<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}Пчелопакеты. Продукты пчеловодства с частной пасеки{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name='yandex-verification' content='44d6b73886cac8b2' />
    <meta name="google-site-verification" content="ERFZCYAAD2HbbUW8is6imJuZIKInJMG58sZTB72HC9o" />
    <meta name="keywords" content="пчелопакеты, купить пчелопакеты, отводки, пчелопакеты 2013, продать пчелопакеты, продажа пчёл, продажа пчел, купить пчел, пчелопакеты Беларусь, пчелосемьи, матки, мёд, перга, воск, прополис, продажа, купить,  Perga.by " />
    <meta name="description" content=" Продажа пчелопакетов в мае 2013 года. Мёд, перга, воск и другие продукты пчеловодства с экологически чистой пасеки. Натуральный, качественный продукт. Бесплатная доставка по Минску"/>
    <meta name="author" content="Орешков Сергей Васильевич"/>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/pergaproduct/css/style.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/pergaproduct/css/bootstrap/bootstrap.css') }}" type="text/css" media="all" />
        <!--[if IE 6]><link rel="stylesheet" href="{{ asset('bundles/pergaproduct/css/ie6.css') }}" type="text/css" media="all" /><![endif]-->
        <link rel="shortcut icon" href="{{ asset('bundles/pergaproduct/images/favicon.png') }}" />
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="shell">
        <div class="border">
            <div id="header">
                {% block header %}

                {% endblock header %}
            </div>
            <div id="navigation">
                {% block navigation %}

                {% endblock navigation %}
            </div>
            <div id="myCarousel" class="carousel slide">
                {% block slider %}

                {% endblock slider %}
            </div>
            <div id="main">
                {% block main %}

                {% endblock main %}
            </div>
            <div class="shadow-l"></div>
            <div class="shadow-r"></div>
            <div class="shadow-b"></div>
        </div>

        <div id="footer">
            {% block footer %}

            {% endblock footer %}
        </div>
    </div>
{% endblock body %}
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/pergaproduct/js/jquery-1.10.2.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/pergaproduct/js/bootstrap.js') }}"></script>

    {% endblock javascripts %}
</body>