{% extends "PergaProductBundle:Default:index.html.twig" %}

{% block main -%}
    <h1>Products list</h1>

    <table class="records_list">
        <tbody>
        {% for category in productCategories %}
            <tr>
            {#    <td><a href="{{ path('product_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                <td>{{ category.name }}</td>
               <td>{{ category.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('product_show', { 'id': category.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock main%}
