{% for key, catProducts in products %}
    <h3>{{ key }}</h3>
    {% for product in catProducts %}
        <div class="item">
            <div class="image left">
                <a href="{{ path('product_show', { 'id': product.id }) }}">
                    <img src="{{ asset('bundles/pergaproduct/images/project01.jpg') }}" alt="" />
                </a>
            </div>
            <div class="text left">
                <h4>Название: {{ product.name }}</h4>
                <p>Цена: {{ product.price }}</p>
                <a href="{{ path('product_show', { 'id': product.id }) }}" class="more">Подробнее ...</a>
            </div>
            <div class="cl">&nbsp;</div>
        </div>
    {% endfor %}
{% endfor %}