{% for key, catProducts in products %}
    <div class="product__title">
        <h2>{{ key }}</h2>
    </div>
    {% for name, product in catProducts %}
        <div  itemscope itemtype="http://schema.org/Product" class="product__item">
            <div class="product__content">
                <h4 itemprop="name" class="product__link" >
                    <a href="{{ path('product-show', { 'slug': product.slug }) }}">{{ name }}</a>
                </h4>
                <a class="articles__image" href="{{ path('product-show', { 'slug': product.slug }) }}">
                    <img  itemprop="image" src="{{ asset(product.src) }}" src="{{ asset(product.src) }}" alt="{{name }}" title="{{ key }} - {{ name }}">
                </a>
                <div  itemprop="description" class="product__info">
                    {{ product.shortDescription|truncate(255)|raw}}
                </div>
                 {% include 'PergaProductBundle:Products:product_price.html.twig' with {'product.prices': product.prices} %}
            </div>
        </div>
    {% endfor %}
    <div class="cl">&nbsp;</div>
{% endfor %}