{% for key, catProducts in products %}
    <div class="product__title">
        <h2>{{ key }}</h2>
    </div>
    {% for name, product in catProducts %}

        <div class="product__item">
            <div class="product__content">
                <h4 class="product__link" >
                    <a href="{{ path('product_show', { 'slug': product.slug }) }}">{{ name }}</a>
                </h4>
                <a class="articles__image" href="{{ path('product_show', { 'slug': product.slug }) }}">
                    <img src="{{ asset(product.src) }}" alt="" title="">
                </a>
                <div class="product__info">{{ product.shortDescription|truncate(250)|raw }}</div>
                {% for price in product.prices %}
                    <p class="product__price">
                        Цена: <span class = 'product__price__amount'>{{ price.price}}</span>
                        <span class="product__price__currency">{{ price.abbr }}</span> {{price.value }}
                    </p>
                {% endfor %}

            </div>
        </div>
    {% endfor %}
    <div class="cl">&nbsp;</div>
{% endfor %}