{% for key, catProducts in products %}
    <div class="product__title">
        <h2>{{ key }}</h2>
    </div>
    {% for product in catProducts %}

        <div class="product__item">
            <div class="product__content">
                <a class="articles__image" href="{{ path('product_show', { 'id': product.id }) }}">
                    <img src="{{ asset(product.src) }}" alt="" title="">
                </a>
                <h4 class="product__link" >
                    <a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.name }}</a>
                </h4>
                <p class="product__info">{{ product.shortDescription }}</p>
                <p class="product__price">
                   Цена: <span class = 'product__price__amount'>{{ product.price }}</span>
                    <span class="product__price__currency">y.e</span>
                </p>
            </div>
        </div>
    {% endfor %}
    <div class="cl">&nbsp;</div>
{% endfor %}