{% extends "PergaProductBundle:Products:categories.html.twig" %}

{% block welcome %}
{% endblock welcome %}
{% block products %}
    <h1>{{ product.name }}</h1>
    <div class = "item">
        <div class = "image left">
            <a href = "#">
                <img src = "{{ asset('bundles/pergaproduct/images/project01.jpg') }}" alt = ""/>
            </a>
        </div>
        <div class = "text left">
            <h4>{{ product.name }}</h4>
            <p>{{ product.description }}</p>
            <p>{{ product.description }}</p>
            <p><span>Цена:</span> {{ product.price }}</p>
        </div>
        <div class = "cl">&nbsp;</div>
    </div>

    <ul class = "record_actions">
        <li>
            <a href = "{{ path('product') }}">
               Вернуться обратно
            </a>
        </li>
    </ul>
{% endblock products %}
