{% extends "PergaProductBundle:Products:categories.html.twig" %}

{% block products %}
    <h1>Продукция</h1>
    {% for product in products %}
        <div class = "item">
            <div class = "image left">
                <a href = "#">
                    <img src = "{{ asset('bundles/pergaproduct/images/project01.jpg') }}" alt = ""/>
                </a>
            </div>
            <div class = "text left">
                <h4>{{ product.name }}</h4>
                <p>{{ product.description }}</p>
                <p>{{ product.description }}</p>
                <p><span>Цена:</span> {{ product.price }}</p>
            </div>
            <div class = "cl">&nbsp;</div>
        </div>
    {% endfor %}
    <ul class = "record_actions">
        <li>
            <a href = "{{ path('product') }}">
               Вернуться обратно
            </a>
        </li>
    </ul>
{% endblock products %}
