{% extends "PergaProductBundle:Products:categories.html.twig" %}
{% block title %}Perga.by | {{ product.name }}{% endblock title %}
{% block metaKeywords %}{{ product.metaKeyword }}{% endblock metaKeywords %}
{% block metaDescription %}{{ product.metaDescription }}{% endblock metaDescription %}

{% block welcome %}{% endblock welcome %}
{% block products %}

    <div class="product__title">
        <h2 class="text-left">{{ product.name }}</h2>
    </div>
    <div class="product__content">
        <p class="product__description">
            <img class="img-float" src="{{ asset(product.src) }}" alt="{{ product.name }}" title="продукция с частной пасеки: {{ product.name }}">
            {{ product.description|raw }}
        </p>
        <div class="cl">&nbsp;</div>
        {% include 'PergaProductBundle:Products:product_price.html.twig' with {'product.prices': product.prices} %}
    </div>
{% endblock products %}

{% block productList %}
  <h3>Продукция</h3>
  {{ render(controller('PergaProductBundle:Products:list', {'exclude': product.id})) }}
{% endblock productList %}


